<div class="row mb-4">
  <h2>Dashboard</h2>
</div>
<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div routerLink="/Users" class="col-md-5 mt-2">
      <mat-card class="dashBoard-card pointer">
        <mat-card-header class="center">
          <mat-card-title>
            <span class="pointer">Total Users</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="center cardDataColor">{{ users.length }}</h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div routerLink="/Rooms" class="col-md-5 mt-2">
      <mat-card class="dashBoard-card pointer">
        <mat-card-header class="center">
          <mat-card-title>
            <span class="pointer">Total Rooms</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="center cardDataColor">{{ rooms.length }}</h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
