<div class="row">
  <div class="col-8 col-lg-8 col-md-8 col-sm-6">
    <h2>Available Rooms</h2>
  </div>
  <div class="col-2 col-lg-2 col-md-2 col-sm-3"></div>
  <div
    *ngIf="userData.role == 'admin'"
    class="col-2 col-lg-2 col-md-2 col-sm-3"
  >
    <button mat-raised-button color="primary" (click)="addRoom()">
      Add Room
    </button>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let room of rooms; let i = index"
    class="col-lg-4 col-md-4 col-sm-12 col-xs-12"
  >
    <mat-card class="example-card mt-2 mb-2">
      <img mat-card-image [src]="getImage(i)" alt="Image Not Found" />
      <mat-card-content>
        <p>
          {{ room.additionalInfo }}
        </p>
        <p>Room Number: {{ room.number }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="bookRoom(room)" mat-raised-button color="primary">
          Book Now
        </button>
        <button
          *ngIf="userData.role == 'admin'"
          (click)="updateRoom(room)"
          mat-raised-button
          color="primary"
        >
          Update Room
        </button>
        <button
          *ngIf="userData.role == 'admin'"
          (click)="deleteRoom(room)"
          mat-raised-button
          color="warn"
        >
          Delete Room
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
