<div class="row mb-4">
  <h2>Welcome {{ userData.name }}</h2>
</div>

<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div routerLink="/My-Bookings" class="col-md-5 mt-2">
      <mat-card class="dashBoard-card pointer">
        <mat-card-header class="center">
          <mat-card-title>
            <span class="pointer">Rooms Booked By You</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="center cardDataColor">{{ rooms || 0 }}</h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div routerLink="/Credit-Card" class="col-md-5 mt-2">
      <mat-card class="dashBoard-card pointer">
        <mat-card-header class="center">
          <mat-card-title>
            <span class="pointer">Is Credit Card Details?</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="center cardDataColor">
            {{ isCreditCard ? "Yes" : "No" }}
          </h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
