<mat-card class="p-5">
  <form [formGroup]="updatePasswordForm" (ngSubmit)="submit()">
    <div class="d-flex justify-content-end">
      <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <br />
    <h1>Update Password</h1>
    <br />
    <div class="row mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Enter your old password</mat-label>
        <input
          formControlName="oldPassword"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <span
          class="pointer"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </span>

        <mat-error *ngIf="oldPassword.hasError('required')"
          >Required field</mat-error
        >
        <mat-error *ngIf="oldPassword.hasError('minlength')"
          >Password must contains atleast 8 characters
        </mat-error>
        <mat-error *ngIf="oldPassword?.errors?.['pattern']"
          >Password can't have spaces at start or end</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row mt-4">
      <mat-form-field appearance="outline">
        <mat-label>Enter new password</mat-label>
        <input
          formControlName="newPassword"
          matInput
          [type]="hide2 ? 'password' : 'text'"
        />
        <span
          class="pointer"
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </span>

        <mat-error *ngIf="newPassword.hasError('required')"
          >Required field</mat-error
        >
        <mat-error *ngIf="newPassword.hasError('minlength')"
          >Password must contains atleast 8 characters
        </mat-error>
        <mat-error *ngIf="newPassword?.errors?.['pattern']"
          >Password can't have spaces at start or end</mat-error
        >
      </mat-form-field>
    </div>
    <div class="row mt-4">
      <button
        type="submit"
        [disabled]="updatePasswordForm.invalid"
        mat-flat-button
        color="primary"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
